/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Barlow', serif;
}
.container{
    max-width: 1260px;
    margin:0 auto;
    padding: 0 80px;
}

.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__list__items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    list-style: none;
}

.header__list__item{
    text-decoration: none;
    padding: 0 20px;
    color:#83888F;
}

.header__list__item:hover{
    color: #333D4B;
}

.header__list__item:active{
    color: #a0afc4;
}

.hero{
    width: 1085px;
    height: 600px;
    border-radius: 15px;
    margin-top: 40px;
    background-image: url("../img/Bitmap\(2\).png");
}

.info{
    color: #FEFCF7;
}

.info__title{
    width:700px;
    padding: 90px 0 0 85px;
    font-size: 72px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
}

.info__desc{
    width: 460px;
    font-weight: 400;
    font-size: 16px;
    padding: 32px 0 0 90px;
    line-height: 26px;
    font-family: 'Barlow', serif;
}

.info__button{
    margin:35px 0 0 80px;
    padding: 15px 31px;
    border-radius: 10px;
    border: none;
    background-color: #0E8784;
    color: #FEFCF7;
    font-family: 'Fraunces', serif;
}